* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 320px;
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  color: #fff;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  padding: 10px;
}

.input-group {
 background: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
}

.input-group span {
  margin-right: 10px;
  opacity: 0.7;
}

.input-group input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
}

.btn-login {
  width: 100%;
  background: #f5a623;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  a{
    text-decoration: none;
    color: white;
  }
}

.btn-login:hover {
  background: #e0951f;
}

.divider {
  text-align: center;
  margin: 20px 0;
  opacity: 0.6;
}


.register {
  display: block;
  text-align: center;
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.register:hover {
  color: #f5a623;
}
