:root {
  --primary: #ff8a00;
  --bg: #f6f6f8;
  --card: #ffffff;
  --border: #e5e5ea;
  --text: #1c1c1e;
  --muted: #6e6e73;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;  
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Header */
header {
  height: 56px;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;

  a{
            text-decoration: none;
            color: white;
        }
}

.voltarHeader {
  color: var(--primary);
  font-weight: 700;
  
}

.voltarInicio{
  color: #ff8a00;
  font-weight: 700;
  
  a{
    text-decoration: none;
    color: #ff8a00;
  }
}
.dadosAluno{
    text-align: center;
}
.container {
  padding-bottom: 56px;
  width: 600px;
 background-color: #e5e5ea;
  border: solid 1px #e5e5ea;
  box-shadow: #e5e5ea 2px 2px 2px 2px;


}

h1 {
  font-size: 18px;
  margin-bottom: 16px;
}

/* Cards */
.card {
  background: var(--card);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
}

.card h2 {
  font-size: 14px;
  margin-bottom: 12px;
}

/* Form */
label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--border);
  margin-bottom: 12px;
  font-size: 14px;
}

textarea {
  resize: none;
}

/* Linhas */
.row {
  display: flex;
  gap: 12px;
}

.row > div,
.row > input {
  flex: 1;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 600px;
  background: none;
  padding: 12px 16px;

}

.btn-primary {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: var(--primary);
  color: #fff;
  font-size: 15px;
  font-weight: 600;

  a{
    text-decoration: none;
    color: white;
  }
}
